<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.persistence.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.sharding.persistence.entity.UserDO">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="list"
            parameterType="com.sharding.persistence.entity.UserDO"
            resultMap="BaseResultMap">
        select * from t_user
    </select>

    <insert id="insert"
            parameterType="com.sharding.persistence.entity.UserDO">
        INSERT INTO t_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>